@import './base.css';
@import './text.scss';
@import './breakpoints.scss';
@import './components/videobg.scss';

* {
  font-family: 'Montserrat', sans-serif;
}

html,
body {
  background-color: #222832;
}

h1,
h2 {
  font-size: 2rem;
  font-family: 'Bebas Neue', sans-serif;
}

h3 {
  font-weight: 700;
}

a {
  color: #fff;
  text-decoration: none;
}
